

<p><%= link_to @register.name, register_path(@register.code) %></p>

<h1><%= @entries[0].name %></h1>

<table>
  <% @entries[0].values.except(@register.code).each do |key,value| %>
    <% field_record = Record.find_by(register_code: 'field', key: key) %>
    <% associated_register = Register.find_by(code: key) %>
    <tr>
      <th><%= field_link(key) %></th>
      <td>
        <%= linked_named_field(key, value) %>
      </td>
    </tr>
  <% end %>
</table>

<% if @entries[1..-1].size > 0 %>

  <h2>Previous updates</h2>

  <% @entries[0..-2].each do |entry| %>
    <h3><%= entry.timestamp.strftime("%d %b %Y") %></h3>
    <%= render 'shared/field_changes', entry: entry %>
  <% end %>

  <h3><%= @entries[-1].timestamp.strftime("%d %b %Y") %></h3>

  <p>Entry added</p>

<% end %>

